/** Thursday 10th of August 2017 06:46:39 AM (core) **/

#mega-menu-wrap-menu-header #mega-menu-menu-header ul, #mega-menu-wrap-menu-header #mega-menu-menu-header li, #mega-menu-wrap-menu-header #mega-menu-menu-header p, #mega-menu-wrap-menu-header #mega-menu-menu-header img, #mega-menu-wrap-menu-header #mega-menu-menu-header div, #mega-menu-wrap-menu-header #mega-menu-menu-header a {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  background: none;
  border: 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  right: auto;
  top: auto;
  bottom: auto;
  left: auto;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  list-style-type: none;
  line-height: 1.7;
  box-sizing: border-box;
  float: none;
  overflow: visible;
  display: block;
  min-height: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  text-decoration: none;
  width: auto;
  clip: auto;
  height: auto;
  outline: none;
  visibility: inherit;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header ul:before, #mega-menu-wrap-menu-header #mega-menu-menu-header li:before, #mega-menu-wrap-menu-header #mega-menu-menu-header p:before, #mega-menu-wrap-menu-header #mega-menu-menu-header img:before, #mega-menu-wrap-menu-header #mega-menu-menu-header div:before, #mega-menu-wrap-menu-header #mega-menu-menu-header a:before, #mega-menu-wrap-menu-header #mega-menu-menu-header ul:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li:after, #mega-menu-wrap-menu-header #mega-menu-menu-header p:after, #mega-menu-wrap-menu-header #mega-menu-menu-header img:after, #mega-menu-wrap-menu-header #mega-menu-menu-header div:after, #mega-menu-wrap-menu-header #mega-menu-menu-header a:after {
  display: none;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header table, #mega-menu-wrap-menu-header #mega-menu-menu-header td, #mega-menu-wrap-menu-header #mega-menu-menu-header tr, #mega-menu-wrap-menu-header #mega-menu-menu-header th {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}
#mega-menu-wrap-menu-header, #mega-menu-wrap-menu-header #mega-menu-menu-header, #mega-menu-wrap-menu-header #mega-menu-menu-header ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item, #mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 0;
  bottom: auto;
  box-sizing: border-box;
  clip: auto;
  color: #000;
  display: block;
  float: none;
  font-family: inherit;
  font-size: 13px;
  height: auto;
  left: auto;
  line-height: 1.7;
  list-style-type: none;
  margin: 0;
  min-height: 0;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  position: relative;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  top: auto;
  vertical-align: baseline;
  visibility: inherit;
  width: auto;
}
#mega-menu-wrap-menu-header:before, #mega-menu-wrap-menu-header #mega-menu-menu-header:before, #mega-menu-wrap-menu-header #mega-menu-menu-header ul.mega-sub-menu:before, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item:before, #mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link:before, #mega-menu-wrap-menu-header:after, #mega-menu-wrap-menu-header #mega-menu-menu-header:after, #mega-menu-wrap-menu-header #mega-menu-menu-header ul.mega-sub-menu:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item:after, #mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link:after {
  display: none;
}
#mega-menu-wrap-menu-header {
  background: rgba(255, 255, 255, 0);
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header {
  visibility: visible;
  text-align: left;
  padding: 0px 0px 0px 0px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header {
    padding: 0;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link {
  cursor: pointer;
  display: inline;
  -webkit-transition: background 200ms linear, color 200ms linear;
  -moz-transition: background 200ms linear, color 200ms linear;
  -o-transition: background 200ms linear, color 200ms linear;
  transition: background 200ms linear, color 200ms linear;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link .mega-description-group {
  vertical-align: middle;
  display: inline-block;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link .mega-description-group .mega-menu-title, #mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link .mega-description-group .mega-menu-description {
  line-height: 1.5;
  display: block;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link .mega-description-group .mega-menu-description {
  font-style: italic;
  font-size: 0.8em;
  text-transform: none;
  font-weight: normal;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-icon-top > a.mega-menu-link {
  display: table-cell;
  vertical-align: middle;
  line-height: initial;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-icon-top > a.mega-menu-link:before {
  display: block;
  margin: 0 0 6px 0;
  text-align: center;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-icon-top > a.mega-menu-link > span.mega-title-below {
  display: inline-block;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-icon-top > a.mega-menu-link {
    display: block;
    line-height: 40px;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-icon-top > a.mega-menu-link:before {
    display: inline-block;
    margin: 0 6px 0 0;
    text-align: left;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-icon-right > a.mega-menu-link:before {
  float: right;
  margin: 0 0 0 6px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-animating > ul.mega-sub-menu {
  pointer-events: none;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-disable-link > a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-megamenu li.mega-disable-link > a.mega-menu-link {
  cursor: default;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item-has-children.mega-disable-link > a.mega-menu-link {
  cursor: pointer;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-keyboard-navigation + .mega-menu-toggle.mega-menu-open, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-keyboard-navigation a:focus, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-keyboard-navigation input:focus {
  -webkit-box-shadow: inset 0px 0px 3px 1px #0ff;
  -moz-box-shadow: inset 0px 0px 3px 1px #0ff;
  -ms-box-shadow: inset 0px 0px 3px 1px #0ff;
  -o-box-shadow: inset 0px 0px 3px 1px #0ff;
  box-shadow: inset 0px 0px 3px 1px #0ff;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header p {
  margin-bottom: 10px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header input, #mega-menu-wrap-menu-header #mega-menu-menu-header img {
  max-width: 100%;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item > ul.mega-sub-menu {
  display: block;
  visibility: hidden;
  opacity: 1;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade"] li.mega-menu-item > ul.mega-sub-menu {
  opacity: 0;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: opacity, visibility;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  opacity: 1;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
  opacity: 0;
  margin-top: 10px;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: opacity, margin-top, visibility;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade_up"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade_up"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  opacity: 1;
  margin-top: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="slide_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="slide_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
  margin-top: 10px;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: margin-top, visibility;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="slide_up"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="slide_up"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="slide_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header[data-effect="slide_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  margin-top: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  visibility: visible;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu {
  visibility: inherit;
  opacity: 1;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item a[class^='dashicons']:before {
  font-family: dashicons;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item a.mega-menu-link:before {
  display: inline-block;
  font: inherit;
  font-family: dashicons;
  position: static;
  margin: 0 6px 0 0px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-hide-text a.mega-menu-link:before {
  margin: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-hide-text li.mega-menu-item a.mega-menu-link:before {
  margin: 0 6px 0 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-align-bottom-left.mega-toggle-on > a.mega-menu-link {
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  -ms-border-radius: 0px 0px 0 0;
  -o-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-align-bottom-right > ul.mega-sub-menu {
  right: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-align-bottom-right.mega-toggle-on > a.mega-menu-link {
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  -ms-border-radius: 0px 0px 0 0;
  -o-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item {
  margin: 0 0px 0 0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-item-align-right {
  float: right;
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-item-align-right {
    margin: 0 0 0 0px;
  }
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-item-align-float-left {
    float: left;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link:focus {
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 248, 248, 0)), to(rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(top, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFF8F8', endColorstr='#00FFFFFF');
  color: #b69e59;
  font-weight: bold;
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link {
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 248, 248, 0)), to(rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(top, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, rgba(255, 248, 248, 0), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFF8F8', endColorstr='#00FFFFFF');
  color: #b69e59;
  font-weight: bold;
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link {
  border-top: 0px solid rgba(255, 255, 255, 0);
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  outline: none;
  text-decoration: none;
  padding: 0px 15px 0px 12px;
  line-height: 60px;
  font-weight: bold;
  height: 60px;
  vertical-align: baseline;
  text-align: left;
  width: auto;
  display: block;
  color: #fdfdfd;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  font-family: inherit;
  font-size: 12px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link {
    text-align: left;
    color: #000;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-multi-line > a.mega-menu-link {
    line-height: inherit;
    display: table-cell;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-multi-line > a.mega-menu-link br {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item {
    display: list-item;
    margin: 0;
    clear: both;
    border: 0;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-item-align-right {
    float: none;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link {
    -webkit-border-radius: 0 0 0 0 0 0 0;
    -moz-border-radius: 0 0 0 0 0 0 0;
    -ms-border-radius: 0 0 0 0 0 0 0;
    -o-border-radius: 0 0 0 0 0 0 0;
    border-radius: 0 0 0 0 0 0 0;
    border: 0;
    margin: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu {
  z-index: 999;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  background: #fff;
  padding: 15px 0px 0px 0px;
  position: absolute;
  width: 700px;
  border-top: 0px solid rgba(255, 255, 255, 0);
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  -moz-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  -ms-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  -o-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu {
    float: left;
    position: static;
    width: 100%;
  }
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-1 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-2 {
    width: 50%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-2 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-3 {
    width: 33.33333%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-3 {
    width: 66.66667%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-3 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-4 {
    width: 25%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-4 {
    width: 50%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-4 {
    width: 75%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-4 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-5 {
    width: 20%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-5 {
    width: 40%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-5 {
    width: 60%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-5 {
    width: 80%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-5 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-6 {
    width: 16.66667%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-6 {
    width: 33.33333%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-6 {
    width: 50%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-6 {
    width: 66.66667%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-6 {
    width: 83.33333%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-6 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-7 {
    width: 14.28571%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-7 {
    width: 28.57143%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-7 {
    width: 42.85714%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-7 {
    width: 57.14286%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-7 {
    width: 71.42857%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-7 {
    width: 85.71429%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-7-of-7 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-8 {
    width: 12.5%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-8 {
    width: 25%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-8 {
    width: 37.5%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-8 {
    width: 50%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-8 {
    width: 62.5%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-8 {
    width: 75%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-7-of-8 {
    width: 87.5%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-8-of-8 {
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-9 {
    width: 11.11111%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-9 {
    width: 22.22222%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-9 {
    width: 33.33333%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-9 {
    width: 44.44444%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-9 {
    width: 55.55556%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-9 {
    width: 66.66667%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-7-of-9 {
    width: 77.77778%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-8-of-9 {
    width: 88.88889%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-9-of-9 {
    width: 100%;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu .mega-description-group .mega-menu-description {
  margin: 5px 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu {
  clear: both;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  margin-left: 10px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  margin-left: 20px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  display: block;
  float: left;
  clear: none;
  padding: 0px 20px 20px 20px;
  vertical-align: top;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-menu-clear {
  clear: left;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
  color: #b69e59;
  font-family: inherit;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid rgba(85, 85, 85, 0);
  border-left: 0px solid rgba(85, 85, 85, 0);
  border-right: 0px solid rgba(85, 85, 85, 0);
  border-bottom: 0px solid rgba(85, 85, 85, 0);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  color: #b69e59;
  font-family: inherit;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 30px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid #555;
  border-left: 0px solid #555;
  border-right: 0px solid #555;
  border-bottom: 0px solid #555;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 5px 0px 5px 0px;
  vertical-align: top;
  display: block;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus {
  color: #b69e59;
  font-weight: normal;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu {
    border: 0;
    padding: 10px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
    width: 50%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li:nth-child(odd) {
    clear: left;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  border: 0;
  padding: 5px 0px 5px 0px;
  vertical-align: top;
  display: block;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
  color: #b69e59;
  font-weight: normal;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu {
  z-index: 999;
  position: absolute;
  width: 500px;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  padding: 5px 0px 5px 0px;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#fff));
  background: -moz-linear-gradient(top, #fdfdfd, #fff);
  background: -ms-linear-gradient(top, #fdfdfd, #fff);
  background: -o-linear-gradient(top, #fdfdfd, #fff);
  background: linear-gradient(to bottom, #fdfdfd, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFDFDFD', endColorstr='#FFFFFFFF');
  -webkit-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  -moz-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  -ms-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  -o-box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
  box-shadow: 0px 3px 4px 0px rgba(61, 51, 51, 0.1);
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu {
    float: left;
    position: static;
    width: 100%;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
    clear: both;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
  display: block;
  background: #fff;
  color: #000;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  padding: 0px 20px 0px 20px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child > a.mega-menu-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child > a.mega-menu-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child > a.mega-menu-link {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child > a.mega-menu-link {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus {
  background: rgba(255, 255, 255, 0);
  font-weight: normal;
  text-decoration: none;
  color: #b69e59;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    position: static;
    left: 0;
    width: 100%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a.mega-menu-link {
    padding-left: 20px;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '';
  display: inline-block;
  font-family: dashicons;
  margin: 0 0 0 6px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  color: inherit;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-menu-item-has-children a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout li.mega-menu-item-has-children a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item-has-children a.mega-menu-link:after {
    float: right;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after {
    content: '';
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after {
    display: none;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after {
  display: none;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '\f345';
  float: right;
  margin: 0;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '';
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
  text-align: right;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
    text-align: left;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link:before {
  float: right;
  margin: 0 0 0 6px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link:before {
    float: left;
    margin: 0 6px 0 0;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '\f341';
  float: left;
  margin: 0;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '';
    float: right;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  left: -100%;
  top: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li[class^='mega-lang-item'] > a.mega-menu-link > img {
  display: inline;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link > img.wpml-ls-flag, #mega-menu-wrap-menu-header #mega-menu-menu-header a.mega-menu-link > img.iclflag {
  display: inline;
  margin-right: 8px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-hide-on-mobile, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-hide-on-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-hide-on-desktop, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-hide-on-desktop {
    display: none;
  }
}
#mega-menu-wrap-menu-header .mega-menu-toggle {
  display: none;
  z-index: 1;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header .mega-menu-toggle {
    display: block;
  }
}
#mega-menu-wrap-menu-header .mega-menu-toggle .mega-toggle-block {
  text-align: left;
  display: inline-block;
  height: 100%;
}
#mega-menu-wrap-menu-header .mega-menu-toggle .mega-toggle-block-left {
  float: left;
  margin-left: 6px;
}
#mega-menu-wrap-menu-header .mega-menu-toggle .mega-toggle-block-center {
  float: none;
  margin-left: 3px;
  margin-right: 3px;
}
#mega-menu-wrap-menu-header .mega-menu-toggle .mega-toggle-block-right {
  float: right;
  margin-right: 6px;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header .mega-menu-toggle + #mega-menu-menu-header {
    display: none;
  }
  #mega-menu-wrap-menu-header .mega-menu-toggle + #mega-menu-menu-header li.mega-menu-item > ul.mega-sub-menu {
    display: none;
    visibility: visible;
    opacity: 1;
  }
  #mega-menu-wrap-menu-header .mega-menu-toggle + #mega-menu-menu-header li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header .mega-menu-toggle + #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    display: block;
  }
  #mega-menu-wrap-menu-header .mega-menu-toggle.mega-menu-open + #mega-menu-menu-header {
    display: block;
  }
}
#mega-menu-wrap-menu-header .mega-menu-toggle .mega-toggle-block-1:before {
  content: '\f333';
  font-family: 'dashicons';
  font-size: 24px;
  margin: 0 0 0 5px;
  color: #000;
}
#mega-menu-wrap-menu-header .mega-menu-toggle.mega-menu-open .mega-toggle-block-1:before {
  content: '\f153';
}
#mega-menu-wrap-menu-header .mega-menu-toggle .mega-toggle-block-1:after {
  content: 'MENU';
  color: #000;
  float: left;
}
#mega-menu-wrap-menu-header .mega-menu-toggle.mega-menu-open .mega-toggle-block-1:after {
  content: 'MENU';
}
#mega-menu-wrap-menu-header.mega-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99998;
  opacity: 0.9;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}
#mega-menu-wrap-menu-header.mega-sticky #mega-menu-menu-header {
  background: rgba(255, 255, 255, 0);
}
#mega-menu-wrap-menu-header.mega-stuck.mega-hide {
  transform: translateY(-100%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#mega-menu-wrap-menu-header.mega-stuck.mega-hide.mega-reveal {
  transform: translateY(0%);
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header.mega-sticky #mega-menu-menu-header {
    max-height: calc(100vh - 40px);
    overflow: auto;
  }
  body.admin-bar #mega-menu-wrap-menu-header.mega-sticky #mega-menu-menu-header {
    max-height: calc(100vh - 40px - 42px);
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-show-when-sticky {
  display: none;
}
#mega-menu-wrap-menu-header.mega-sticky #mega-menu-menu-header li.mega-menu-item.mega-hide-when-sticky {
  display: none;
}
#mega-menu-wrap-menu-header.mega-sticky #mega-menu-menu-header li.mega-menu-item.mega-show-when-sticky {
  display: inline-block;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header.mega-sticky #mega-menu-menu-header li.mega-menu-item.mega-show-when-sticky.mega-hide-on-mobile {
    display: none;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header a.custom.mega-menu-link:before {
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -o-transition: background 200ms linear;
  transition: background 200ms linear;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item a[class^='fa']:before {
  font-family: FontAwesome;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item a[class^='genericon']:before {
  font-family: genericons;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-item {
  display: list-item;
  margin: 0;
  clear: both;
  width: 100%;
  margin: 0 0 0px 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-item > a.mega-menu-link {
  height: auto;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-item.mega-icon-top > a.mega-menu-link {
  display: list-item;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-item.mega-hide-on-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-item.mega-hide-on-desktop {
    display: none;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-megamenu.mega-menu-item, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical > li.mega-menu-flyout.mega-menu-item {
  position: relative;
}
@media only screen and (min-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-right.mega-menu-item-has-children li.mega-menu-item a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-right.mega-menu-flyout li.mega-menu-item-has-children li.mega-menu-item a.mega-menu-link {
    text-align: left;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-right.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-right.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '\f345';
    float: right;
    margin: 0;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-left.mega-menu-item-has-children > a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-left.mega-menu-flyout li > a.mega-menu-link {
    text-align: right;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-left.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-left.mega-menu-flyout li > a.mega-menu-link:after {
    content: '\f341';
    float: left;
    margin: 0;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-left.mega-menu-item-has-children.mega-icon-left > a.mega-menu-link:before, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-align-bottom-left.mega-menu-flyout li.mega-icon-left > a.mega-menu-link:before {
    float: right;
    margin: 0 0 0 6px;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-megamenu.mega-align-bottom-right > ul.mega-sub-menu {
  top: 0;
  left: 100%;
  right: auto;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  top: 0;
  left: 100%;
  right: auto;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-right.mega-icon-left > a.mega-menu-link:before, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item.mega-icon-left > a.mega-menu-link:before, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.mega-menu-item.mega-icon-left > a.mega-menu-link:before {
  float: left;
  margin: 0 6px 0 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-megamenu.mega-align-bottom-left > ul.mega-sub-menu {
  top: 0;
  left: auto;
  right: 100%;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-left > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-left li.mega-menu-item > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-vertical li.mega-menu-flyout.mega-align-bottom-left li.mega-menu-item ul.mega-sub-menu li.mega-menu-item > ul.mega-sub-menu {
  top: 0;
  left: auto;
  right: 100%;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-item {
  display: list-item;
  margin: 0;
  clear: both;
  width: 100%;
  margin: 0 0 0px 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-item > a.mega-menu-link {
  height: auto;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-item.mega-icon-top > a.mega-menu-link {
  display: list-item;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-item.mega-hide-on-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1101px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-item.mega-hide-on-desktop {
    display: none;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-megamenu > ul.mega-sub-menu {
  width: 100%;
  float: left;
  position: static;
  width: 100% !important;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-flyout > ul.mega-sub-menu {
  float: left;
  position: static;
  width: 100% !important;
  padding: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
  background: rgba(255, 255, 255, 0);
  font-weight: normal;
  text-decoration: none;
  color: #b69e59;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  position: static;
  left: 0;
  width: 100%;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a.mega-menu-link {
  padding-left: 20px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a.mega-menu-link {
  padding-left: 30px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a.mega-menu-link {
  padding-left: 40px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '';
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after {
  content: '';
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item > ul.mega-sub-menu {
  display: none;
  visibility: visible;
  opacity: 1;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  display: block;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header.mega-menu-accordion li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '';
  float: right;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-bp-profile-nav img.avatar, #mega-menu-wrap-menu-header #mega-menu-menu-header img.mmm_gravatar {
  vertical-align: middle;
  position: relative;
  top: -1px;
  display: inline-block;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-bp-profile-nav img.avatar, #mega-menu-wrap-menu-header #mega-menu-menu-header img.mmm_gravatar {
    max-height: 90%;
    width: auto;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header img.avatar {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-current-menu-item > a.mega-menu-logo, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-logo {
  background: inherit;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header img.mega-menu-logo {
  display: inline;
  vertical-align: middle;
  max-height: none;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu {
  padding: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item {
  width: 100%;
  padding: 0;
  position: static;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  width: 20%;
  float: left;
  background: #fff;
  color: #000;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  padding: 0px 20px 0px 20px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
  margin: 0;
  border: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
  background: rgba(255, 255, 255, 0);
  font-weight: normal;
  text-decoration: none;
  color: #b69e59;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '\f345';
  display: inline-block;
  font-family: dashicons;
  margin: 0 0 0 6px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  color: inherit;
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item {
    /* Tab Content */
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after {
    display: none;
  }
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu {
  width: 80%;
  float: left;
  clear: none;
  position: absolute;
  top: 0;
  left: 20%;
  visibility: hidden;
  border-left: 1px solid #ccc;
  padding: 15px 0px 0px 0px;
  min-height: 100%;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu {
  visibility: visible;
  /* Tab Content Widget */
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item {
  float: left;
  padding: 0px 20px 20px 20px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item.mega-menu-clear {
  clear: left;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  margin-left: 0;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  margin-left: 10px;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  color: #b69e59;
  font-family: inherit;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 30px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid #555;
  border-left: 0px solid #555;
  border-right: 0px solid #555;
  border-bottom: 0px solid #555;
  /* Second level menu item hover */
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  /* Third level menu item */
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 5px 0px 5px 0px;
  vertical-align: top;
  display: block;
  /* Third level menu item hover */
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus {
  color: #b69e59;
  font-weight: normal;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 5px 0px 5px 0px;
  vertical-align: top;
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  /* Second level menu item hover */
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
  color: #b69e59;
  font-weight: normal;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 1100px) {
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu.mega-menu-tabbed.mega-toggle-on ul.mega-sub-menu {
    display: none;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu.mega-menu-tabbed.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu.mega-menu-tabbed li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-header #mega-menu-menu-header li.mega-menu-item.mega-menu-megamenu.mega-menu-tabbed li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu ul.mega-sub-menu {
    display: block;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu {
    padding: 0;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item {
    width: 50%;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu > li:nth-child(odd) {
    clear: left;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item {
    width: 100%;
    padding: 0;
    position: static;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    width: 100%;
    float: left;
    background: #fff;
    color: #000;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 20px 0px 20px;
    line-height: 40px;
    text-decoration: none;
    text-transform: none;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '';
    /* Tab Content */
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > ul.mega-sub-menu {
    width: 100%;
    position: relative;
    top: 0;
    left: auto;
    border-left: 0;
    padding: 10px;
  }
  #mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    margin-left: 0;
  }
}
#mega-menu-wrap-menu-header {
  clear: both;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header .widget_product_categories ul.product-categories li a {
  transition: initial !important;
}
