.customize-control-vamtam-background {
	.current {
		margin-bottom: 8px;

		.container {
			overflow: hidden;
			border: 1px solid #eee;
			border-radius: 2px;
			min-height: 40px;
		}
	}

	.remove-button,
	.default-button,
	.upload-button {
		white-space: normal;
		width: 48%;
		height: auto;
	}

	.placeholder {
		width: 100%;
		position: relative;
		text-align: center;
		cursor: default;
		border: 1px dashed #b4b9be;
		box-sizing: border-box;
		min-height: 40px;
	}

	.inner {
		display: none;
		position: absolute;
		width: 100%;
		color: #555;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		min-height: 40px;
		line-height: 20px;
		top: 8px;
	}

	img {
		width: 100%;
		border-radius: 2px;
	}

	.remove-button,
	.default-button {
		float: left;
		margin-right: 3px;
	}

	.upload-button {
		float: right;
	}

	.background-grid {
		display: flex;
		flex-flow: row wrap;

		.background-grid-el {
			width: 50%;
			padding-right: .5em;
			box-sizing: border-box;

			&:nth-child( 2n ) {
				padding-left: .5em;
				padding-right: 0;
			}

			select {
				width: 100%;
			}
		}
	}

	.wp-picker-open + .wp-picker-input-wrap {
		display: block;
	}

	.wp-color-result::after {
		min-width: 79px;
	}

	.background-grid-el:nth-child(2n) .wp-picker-holder {
		transform: translate3d( calc( ~"-50% - .75em" ), 0, 0 );
	}
}