.customize-control-vamtam-background .current {
  margin-bottom: 8px;
}
.customize-control-vamtam-background .current .container {
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 2px;
  min-height: 40px;
}
.customize-control-vamtam-background .remove-button,
.customize-control-vamtam-background .default-button,
.customize-control-vamtam-background .upload-button {
  white-space: normal;
  width: 48%;
  height: auto;
}
.customize-control-vamtam-background .placeholder {
  width: 100%;
  position: relative;
  text-align: center;
  cursor: default;
  border: 1px dashed #b4b9be;
  box-sizing: border-box;
  min-height: 40px;
}
.customize-control-vamtam-background .inner {
  display: none;
  position: absolute;
  width: 100%;
  color: #555;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  min-height: 40px;
  line-height: 20px;
  top: 8px;
}
.customize-control-vamtam-background img {
  width: 100%;
  border-radius: 2px;
}
.customize-control-vamtam-background .remove-button,
.customize-control-vamtam-background .default-button {
  float: left;
  margin-right: 3px;
}
.customize-control-vamtam-background .upload-button {
  float: right;
}
.customize-control-vamtam-background .background-grid {
  display: flex;
  flex-flow: row wrap;
}
.customize-control-vamtam-background .background-grid .background-grid-el {
  width: 50%;
  padding-right: .5em;
  box-sizing: border-box;
}
.customize-control-vamtam-background .background-grid .background-grid-el:nth-child( 2n ) {
  padding-left: .5em;
  padding-right: 0;
}
.customize-control-vamtam-background .background-grid .background-grid-el select {
  width: 100%;
}
.customize-control-vamtam-background .wp-picker-open + .wp-picker-input-wrap {
  display: block;
}
.customize-control-vamtam-background .wp-color-result::after {
  min-width: 79px;
}
.customize-control-vamtam-background .background-grid-el:nth-child(2n) .wp-picker-holder {
  transform: translate3d(calc(-50% - .75em),0,0);
}
