@header-logo-type:false;
@custom-header-logo:'http://everythinghomeandliving.com/wp-content/uploads/2017/06/logo.png';
@custom-header-logo-transparent:false;
@splash-screen-logo:false;
@show-scroll-to-top:false;
@custom-js:false;
@pagination-type:false;
@show-related-posts:false;
@related-posts-title:false;
@post-meta-author:false;
@post-meta-tax:false;
@post-meta-date:1;
@post-meta-comments:1;
@show-single-post-image:false;
@archive-layout:false;
@show-related-portfolios:false;
@related-portfolios-title:false;
@site-layout-type:false;
@site-max-width:1140px;
@body-background-background-repeat:no-repeat;
@body-background-background-size:cover;
@body-background-background-attachment:scroll;
@body-background-background-position:left top;
@body-background-background-color:#d8d8d8;
@body-background-background-image:false;
@body-background-media-id:false;
@body-background-media-height:false;
@body-background-media-width:false;
@body-background-media-thumbnail:false;
@accent-color-1:#b69e59;
@accent-color-2:#545f64;
@accent-color-3:#97AAB4;
@accent-color-4:#D8D8D8;
@accent-color-5:#ffffff;
@accent-color-6:#000000;
@accent-color-7:#EDEDED;
@accent-color-8:#ffffff;
@h1-font-family:'Playfair Display';
@h1-font-size:60px;
@h1-line-height:60px;
@h1-color:#000000;
@h1-font-options:false;
@h1-google:1;
@h1-font-weight:'normal';
@h1-font-style:false;
@h1-subsets:false;
@h2-font-family:'Lato';
@h2-font-size:44px;
@h2-line-height:42px;
@h2-color:#000000;
@h2-font-options:false;
@h2-google:1;
@h2-font-weight:300;
@h2-font-style:false;
@h2-subsets:false;
@h3-font-family:'Playfair Display';
@h3-font-size:24px;
@h3-line-height:30px;
@h3-color:#000000;
@h3-font-options:false;
@h3-google:1;
@h3-font-weight:'normal';
@h3-font-style:false;
@h3-subsets:false;
@h4-font-family:'Lato';
@h4-font-size:20px;
@h4-line-height:26px;
@h4-color:#000000;
@h4-font-options:false;
@h4-google:1;
@h4-font-weight:300;
@h4-font-style:false;
@h4-subsets:false;
@h5-font-family:'Cutive';
@h5-font-size:10px;
@h5-line-height:11px;
@h5-color:#656565;
@h5-font-options:false;
@h5-google:1;
@h5-font-weight:'normal';
@h5-font-style:false;
@h5-subsets:false;
@h6-font-family:'Lato';
@h6-font-size:10px;
@h6-line-height:11px;
@h6-color:#656565;
@h6-font-options:false;
@h6-google:1;
@h6-font-weight:'bold';
@h6-font-style:false;
@h6-subsets:false;
@em-font-family:'Lato';
@em-font-size:18px;
@em-line-height:20px;
@em-color:#000000;
@em-font-options:false;
@em-google:1;
@em-font-weight:'300 italic';
@em-font-style:italic;
@em-subsets:false;
@additional-font-1-font-family:'Playfair Display';
@additional-font-1-font-size:40px;
@additional-font-1-line-height:50px;
@additional-font-1-color:#000000;
@additional-font-1-font-options:false;
@additional-font-1-google:1;
@additional-font-1-font-weight:'bold italic';
@additional-font-1-font-style:italic;
@additional-font-1-subsets:false;
@additional-font-2-font-family:'Lato';
@additional-font-2-font-size:36px;
@additional-font-2-line-height:40px;
@additional-font-2-color:#f8e71c;
@additional-font-2-font-options:false;
@additional-font-2-google:1;
@additional-font-2-font-weight:300;
@additional-font-2-font-style:false;
@additional-font-2-subsets:false;
@gfont-subsets-arabic:false;
@gfont-subsets-bengali:false;
@gfont-subsets-cyrillic:false;
@gfont-subsets-cyrillic-ext:false;
@gfont-subsets-devanagari:false;
@gfont-subsets-greek:false;
@gfont-subsets-greek-ext:false;
@gfont-subsets-gujarati:false;
@gfont-subsets-hebrew:false;
@gfont-subsets-khmer:false;
@gfont-subsets-latin:1;
@gfont-subsets-latin-ext:false;
@gfont-subsets-tamil:false;
@gfont-subsets-telugu:false;
@gfont-subsets-thai:false;
@gfont-subsets-vietnamese:false;
@top-bar-layout:false;
@top-bar-text:false;
@top-bar-social-lead:false;
@top-bar-social-fb:false;
@top-bar-social-twitter:false;
@top-bar-social-linkedin:false;
@top-bar-social-gplus:false;
@top-bar-social-flickr:false;
@top-bar-social-pinterest:false;
@top-bar-social-dribbble:false;
@top-bar-social-instagram:false;
@top-bar-social-youtube:false;
@top-bar-social-vimeo:false;
@top-nav-background-background-repeat:no-repeat;
@top-nav-background-background-size:auto;
@top-nav-background-background-attachment:fixed;
@top-nav-background-background-position:left top;
@top-nav-background-background-color:#1e2022;
@top-nav-background-background-image:false;
@top-nav-background-media-id:false;
@top-nav-background-media-height:false;
@top-nav-background-media-width:false;
@top-nav-background-media-thumbnail:false;
@css-tophead-text-color:#ffffff;
@css-tophead-link-color:#d3bd83;
@css-tophead-link-hover-color:#ffffff;
@submenu-background:#ffffff;
@submenu-color:#000000;
@submenu-hover-color:#d3b563;
@header-layout:false;
@page-title-layout:false;
@header-height:60px;
@sticky-header:1;
@enable-header-search:false;
@full-width-header:1;
@header-text-main:false;
@header-background-background-image:false;
@header-background-background-color:#1c1c1c;
@header-background-background-repeat:repeat;
@header-background-background-attachment:scroll;
@header-background-background-size:auto;
@header-background-background-position:left top;
@sub-header-background-background-repeat:no-repeat;
@sub-header-background-background-size:auto;
@sub-header-background-background-attachment:fixed;
@sub-header-background-background-position:left top;
@sub-header-background-background-color:#ffffff;
@sub-header-background-background-image:false;
@sub-header-background-media-id:false;
@sub-header-background-media-height:false;
@sub-header-background-media-width:false;
@sub-header-background-media-thumbnail:false;
@page-title-background-background-image:false;
@page-title-background-background-color:#ffffff;
@page-title-background-background-repeat:repeat;
@page-title-background-background-attachment:fixed;
@page-title-background-background-size:auto;
@page-title-background-background-position:left top;
@page-title-background-hide-lowres:false;
@logo-font-family:'Playfair Display';
@logo-font-size:24px;
@logo-line-height:24px;
@logo-color:#ffffff;
@logo-font-options:false;
@logo-google:1;
@logo-font-weight:'normal';
@logo-font-style:false;
@logo-subsets:false;
@main-menu-text-sticky-color:#ffffff;
@header-sidebars-1-width:false;
@header-sidebars-2-width:false;
@header-sidebars-3-width:false;
@header-sidebars-4-width:false;
@header-sidebars-5-width:false;
@header-sidebars-6-width:false;
@header-sidebars-7-width:false;
@header-sidebars-8-width:false;
@left-sidebar-width:25%;
@right-sidebar-width:25%;
@main-background-background-image:false;
@main-background-background-color:#ffffff;
@main-background-background-repeat:repeat;
@main-background-background-attachment:scroll;
@main-background-background-size:auto;
@main-background-background-position:left top;
@main-background-hide-lowres:false;
@primary-font-font-family:'Lato';
@primary-font-font-size:15px;
@primary-font-line-height:22px;
@primary-font-color:#000000;
@primary-font-font-options:false;
@primary-font-google:1;
@primary-font-font-weight:300;
@primary-font-font-style:false;
@primary-font-subsets:false;
@body-link-regular:#000000;
@body-link-hover:#8b732f;
@body-link-visited:#000000;
@body-link-active:#8b732f;
@sticky-footer:1;
@one-page-footer:false;
@full-width-footer:false;
@footer-sidebars-1-width:false;
@footer-sidebars-2-width:false;
@footer-sidebars-3-width:false;
@footer-sidebars-4-width:false;
@footer-sidebars-5-width:false;
@footer-sidebars-6-width:false;
@footer-sidebars-7-width:false;
@footer-sidebars-8-width:false;
@footer-background-background-color:#212529;
@footer-background-background-repeat:no-repeat;
@footer-background-background-size:auto;
@footer-background-background-attachment:scroll;
@footer-background-background-position:center bottom;
@footer-background-background-image:false;
@footer-background-media-id:false;
@footer-background-media-height:false;
@footer-background-media-width:false;
@footer-background-media-thumbnail:'https://construction.vamtam.com//wp-content/uploads/2015/02/bg_footer1-250x250.jpg';
@footer-background-hide-lowres:1;
@footer-sidebars-font-font-family:'Lato';
@footer-sidebars-font-font-size:14px;
@footer-sidebars-font-line-height:22px;
@footer-sidebars-font-color:#d8d8d8;
@footer-sidebars-font-font-options:false;
@footer-sidebars-font-google:1;
@footer-sidebars-font-font-weight:300;
@footer-sidebars-font-font-style:false;
@footer-sidebars-font-subsets:false;
@footer-sidebars-titles-font-family:'Playfair Display';
@footer-sidebars-titles-font-size:24px;
@footer-sidebars-titles-line-height:28px;
@footer-sidebars-titles-color:#ffffff;
@footer-sidebars-titles-font-options:false;
@footer-sidebars-titles-google:1;
@footer-sidebars-titles-font-weight:'normal';
@footer-sidebars-titles-font-style:false;
@footer-sidebars-titles-subsets:false;
@footer-link-regular:#c8b170;
@footer-link-hover:#ffffff;
@footer-link-visited:#c8b170;
@footer-link-active:#c8b170;
@full-width-subfooter:1;
@subfooter-left:false;
@subfooter-center:false;
@subfooter-right:false;
@subfooter-background-background-color:#ffffff;
@subfooter-background-background-repeat:no-repeat;
@subfooter-background-background-size:auto;
@subfooter-background-background-image:false;
@subfooter-background-media-id:false;
@subfooter-background-media-height:false;
@subfooter-background-media-width:false;
@subfooter-background-media-thumbnail:false;
@sub-footer-font-family:'Lato';
@sub-footer-font-size:12px;
@sub-footer-line-height:30px;
@sub-footer-color:#72777e;
@sub-footer-font-options:false;
@sub-footer-google:1;
@sub-footer-font-weight:'normal';
@sub-footer-font-style:false;
@sub-footer-subsets:false;
@google_fonts:'https://fonts.googleapis.com/css?family=Playfair+Display:normal,bolditalic,bold|Lato:300,bold,300italic,normal|Cutive:normal,bold&subset=';
@mobile-top-bar-resolution:900px;
@theme-images-dir:"http://everythinghomeandliving.com/wp-content/themes/hair-beauty/wpv_theme/assets/images/";
