@media (max-width: @mobile-top-bar-resolution) {
	@push-menu-width: 270px;
	@push-menu-transition: .5s;

	.responsive-layout {

		.fixed-header-box .cart-dropdown {
			display: none !important;
		}

		header.main-header {
			position: relative;
			top: 0;
			right: 0;
			left: 0;
			margin: 0;
			background: @default-bg-color;

			.header-padding {
				padding: 0;
			}

			.mobile-top-bar {
				display: block;
				padding: 5px 20px;
			}

			.logo-wrapper {
				.logo {
					min-width: 0 !important;
					box-sizing: border-box;

					img {
						top: 0;
						display: block;
						opacity: 1 !important;
						height: auto;

						&.alternative-logo {
							display: none;
						}
					}
				}

				.mobile-logo-additions {
					.flex(1 1 auto);

					text-align: right;
					padding-left: 30px;
					padding-right: 10px;

					.vamtam-cart-dropdown-link {
						display: inline-block;
						padding: 0;
						margin: 0 10px 0 0;
						vertical-align: middle;
					}

					.header-search {
						vertical-align: middle;
					}
				}
			}

			.header-left,
			#header-text,
			.header-right {
				display: none;
			}

			.second-row {
				.second-row-columns {
					display: block;

					.header-center {
						display: block;
					}
				}
			}

			.search-wrapper {
				display: none !important;
			}
		}

		&.sticky-header-type-over.sticky-header.wpv-not-scrolled header.main-header.layout-logo-menu .first-row {
			border-radius: 0;
		}

		header.main-header {
			&.layout-logo-text-menu {
				.first-row {
					min-height: 0;
					height: auto;
				}

				.first-row-wrapper {
					height: auto;
				}

				.first-row-right {
					display: none;
				}

				.first-row-left {
					display: block;
					margin-bottom: 0;
					min-height: 0;
					height: auto;

					.logo-wrapper {
						min-height: 0;

						.logo {
							top: 0;

							img {
								top: 0 !important;
								max-width: 200px;
							}
						}
					}
				}

				#menus {
					min-height: 0;
				}
			}

			&.layout-logo-menu {
				.header-contents {
					display: block;
					padding: 0;
					margin: 0;
				}
			}

			&.layout-standard {
				.first-row {
					height: auto;
				}

				#menus {
					min-height: 0;
				}
			}

			.first-row {
				padding: 0 0 0 8px;
				white-space: nowrap;
				display: block;
				width: 200px;
				width: calc( ~"100% - 30px" );
				position: relative;
				z-index: 10;
				border: 0;
				margin: 0;

				.logo-wrapper {
					min-height: 0;
					width: 100%;
					.flexbox();
					flex-direction: row;
					align-items: flex-end;

					.logo {
						top: 0;
						max-height: 45px;

						img {
							padding: 0 !important;
						}
					}
				}
			}

			.second-row {
				@second-row-height: 45px;

				height: @second-row-height;
				display: block;
				margin-top: -@second-row-height;
				z-index: 5;
				position: relative;
				padding: 0;
				min-height: 0;
				border: 0;

				#menus {
					min-height: @second-row-height;
				}

				#mega-menu-wrap-menu-header .mega-menu-toggle {
					height: @second-row-height;
					line-height: @second-row-height;

					.bg(
						@header-background-background-image,
						@header-background-background-repeat,
						center top,
						@header-background-background-attachment,
						@header-background-background-color,
						@header-background-background-size
					);
				}
			}

			.top-nav {
				display: none !important;
			}

			.logo {
				padding: 10px 0;

				img {
					max-height: 65px;
				}
			}

			.logo-wrapper {
				.clearfix();
			}
		}

		.fixed-header-box {
			padding: 0;
		}

		#menus {
			float: none;
			display: block;
			background: @default-bg-color;
			padding: 0 !important;
			width: 100%;

			.mega-menu-toggle:before {
				margin: 0 !important;
			}
		}
	}
}

@media (min-width: @mobile-top-bar-resolution + 1px) {
	.responsive-layout {
		header.main-header {
			.mobile-top-bar,
			.mobile-logo-additions {
				display: none;
			}
		}
	}
}
