/*
Theme Name: Hair & Beauty Child
Author: Vamtam
Author URI: https://vamtam.com
Template: hair-beauty
*/



/*

put your child theme styles here


you don't need any @import rules

*/

.holdleft{
	float: left;
}
.profile .photo{
	margin-right: 20px;
	margin-bottom: 20px; 
}
.professional-image{
	padding-right: 20px;
	padding-bottom: 20px;
}
.fixed-header-box .cart-dropdown {
	min-width: 102px;
}
.fixed-header-box .cart-dropdown a{
	color:#fff;
	font-size: 14px;
	line-height: 30px;
	-webkit-transition: background 200ms linear, color 200ms linear;
	-moz-transition: background 200ms linear, color 200ms linear;
	-o-transition: background 200ms linear, color 200ms linear;
	transition: background 200ms linear, color 200ms linear;
}
.fixed-header-box .cart-dropdown a:hover {
	color: #b69e59;
}

/*new menu style - in second row*/
body.sticky-header .fixed-header-box .logo-wrapper .logo img{
	max-height: 63.5px;
}
header.main-header.layout-logo-menu .second-row {
	position: absolute;
	top: 69px;
	left: 0;
}
header.main-header.layout-logo-menu {
	height: 130px;
}
header.main-header.layout-logo-menu .header-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 1240px) {
	#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link {
		padding: 0 12px 0 10px;
	}
}
@media screen and (max-width: 1180px) {
	#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link {
		font-size: 11px;
	}
}
@media screen and (max-width: 1100px) {
	header.main-header.layout-logo-menu {
		height: 69px;
	}
	#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link {
		font-size: 12px;
	}
	header.main-header.layout-logo-menu .second-row {
		position: relative;
		top: 0;
		left: 0;
	}
}

@media (max-width: 1100px) {
	.responsive-layout .fixed-header-box .cart-dropdown {
		display: none !important;
	}
	.responsive-layout header.main-header {
		position: relative;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		/*background: #ffffff;*/
	}
	.responsive-layout header.main-header .header-padding {
		padding: 0;
	}
	.responsive-layout header.main-header .mobile-top-bar {
		display: block;
		padding: 5px 20px;
	}
	.responsive-layout header.main-header .logo-wrapper .logo {
		min-width: 0 !important;
		box-sizing: border-box;
	}
	.responsive-layout header.main-header .logo-wrapper .logo img {
		top: 0;
		display: block;
		opacity: 1 !important;
		height: auto;
	}
	.responsive-layout header.main-header .logo-wrapper .logo img.alternative-logo {
		display: none;
	}
	.responsive-layout header.main-header .logo-wrapper .mobile-logo-additions {
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		text-align: right;
		padding-left: 30px;
		padding-right: 10px;
	}
	.responsive-layout header.main-header .logo-wrapper .mobile-logo-additions .vamtam-cart-dropdown-link {
		display: inline-block;
		padding: 0;
		margin: 0 10px 0 0;
		vertical-align: middle;
	}
	.responsive-layout header.main-header .logo-wrapper .mobile-logo-additions .header-search {
		vertical-align: middle;
	}
	.responsive-layout header.main-header .header-left,
	.responsive-layout header.main-header #header-text,
	.responsive-layout header.main-header .header-right {
		display: none;
	}
	.responsive-layout header.main-header .second-row .second-row-columns {
		display: block;
	}
	.responsive-layout header.main-header .second-row .second-row-columns .header-center {
		display: block;
	}
	.responsive-layout header.main-header .search-wrapper {
		display: none !important;
	}
	.responsive-layout.sticky-header-type-over.sticky-header.wpv-not-scrolled header.main-header.layout-logo-menu .first-row {
		border-radius: 0;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row {
		min-height: 0;
		height: auto;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row-wrapper {
		height: auto;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row-right {
		display: none;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row-left {
		display: block;
		margin-bottom: 0;
		min-height: 0;
		height: auto;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper {
		min-height: 0;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo {
		top: 0;
	}
	.responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo img {
		top: 0 !important;
		max-width: 200px;
	}
	.responsive-layout header.main-header.layout-logo-text-menu #menus {
		min-height: 0;
	}
	.responsive-layout header.main-header.layout-logo-menu .header-contents {
		display: block;
		padding: 0;
		margin: 0;
	}
	.responsive-layout header.main-header.layout-standard .first-row {
		height: auto;
	}
	.responsive-layout header.main-header.layout-standard #menus {
		min-height: 0;
	}
	.responsive-layout header.main-header .first-row {
		padding: 0 0 0 8px;
		white-space: nowrap;
		display: block;
		width: 200px;
		width: calc(100% - 30px);
		position: relative;
		z-index: 10;
		border: 0;
		margin: 0;
	}
	.responsive-layout header.main-header .first-row .logo-wrapper {
		min-height: 0;
		width: 100%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
	.responsive-layout header.main-header .first-row .logo-wrapper .logo {
		top: 0;
		max-height: 45px;
	}
	.responsive-layout header.main-header .first-row .logo-wrapper .logo img {
		padding: 0 !important;
	}
	.responsive-layout header.main-header .second-row {
		height: 45px;
		display: block;
		margin-top: -45px;
		z-index: 5;
		position: relative;
		padding: 0;
		min-height: 0;
		border: 0;
	}
	.responsive-layout header.main-header .second-row #menus {
		min-height: 45px;
	}
	.responsive-layout header.main-header .second-row #mega-menu-wrap-menu-header .mega-menu-toggle {
		height: 45px;
		line-height: 45px;
		background-repeat: repeat;
		background-position: center top;
		background-attachment: scroll;
		background-size: auto;
		background-color: #1c1c1c;
	}
	.responsive-layout header.main-header .top-nav {
		display: none !important;
	}
	.responsive-layout header.main-header .logo {
		padding: 10px 0;
	}
	.responsive-layout header.main-header .logo img {
		max-height: 65px;
	}
	.responsive-layout header.main-header .logo-wrapper {
		clear: both;
	}
	.responsive-layout header.main-header .logo-wrapper:before,
	.responsive-layout header.main-header .logo-wrapper:after {
		content: " ";
		display: table;
	}
	.responsive-layout header.main-header .logo-wrapper:after {
		clear: both;
	}
	.responsive-layout header.main-header .logo-wrapper:before,
	.responsive-layout header.main-header .logo-wrapper:after {
		content: " ";
		display: table;
	}
	.responsive-layout header.main-header .logo-wrapper:after {
		clear: both;
	}
	.responsive-layout .fixed-header-box {
		padding: 0;
	}
	.responsive-layout #menus {
		float: none;
		display: block;
		background: #ffffff;
		padding: 0 !important;
		width: 100%;
	}
	.responsive-layout #menus .mega-menu-toggle:before {
		margin: 0 !important;
	}
}
@media (min-width: 1101px) {
	.responsive-layout header.main-header .mobile-top-bar,
	.responsive-layout header.main-header .mobile-logo-additions {
		display: none;
	}
}
/*new sub menu*/

#menus,
#mega-menu-wrap-menu-header,
#mega-menu-wrap-menu-header #mega-menu-menu-header,
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item {
	position: static;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-item > a.mega-menu-link{
	position: relative;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu{
	width: 100%;
	left: 0;
	right: 0;
	background: hsla(0,0%,100%,.9);
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu .wrap-sub-menu {
	width: 1200px;
	left: 130px;
	padding: 25px 0;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu .wrap-sub-menu .col-sm-3.col{
	width:25%;
}
#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
	background: transparent;
}


@media screen and (max-width: 1340px) {
	#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu .wrap-sub-menu {
		left: 0;
	}
}
@media screen and (max-width: 1200px) {
	#mega-menu-wrap-menu-header #mega-menu-menu-header > li.mega-menu-flyout ul.mega-sub-menu .wrap-sub-menu {
		width: 96%;
	}
}